<div id="post_content">

<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<div id="comments">
	<i class="fa fa-comments-o">&nbsp;<%= @post.comments.count %> Comments</i>
	<%= render @post.comments %>

	<h6>Reply to thread</h6>
	<%= render "comments/form" %>
</div>

<hr>
<br/>

	<%= link_to "Edit" , edit_post_path(@post), :class => 'button_edit' %>
	<%= link_to "Delete", post_path(@post), :class => 'button_delete', method: :delete, data: { confirm: "Are you sure you want to do this?" } %>

</div>