<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css">
  </head>

  <body>
  <header class="main_header">
  <div class="wrapper">
        <div id="logo">
       <p> <%= link_to "Learn Rails WithMe", root_path %> </p>
        </div>
        <div class="buttons">
        <% if user_signed_in? %>
            <%= link_to "New Post", new_post_path, :class => 'button' %>
            <% else %>
            <%= link_to "Sign Up", new_user_registration_path, :class => 'button'%> 
            <%= link_to "Sign In", new_user_session_path, :class => 'button'%>
         <% end %>
         </div>
  </div>
  </header>

  <div class="wrapper">
  	<p class="notice"><%= notice %></p>
 		<p class="alert"><%= alert %></p>
  </div>
 		

  <div class="wrapper">
    <%= yield %>
  </div>

  </body>
</html>
